<h2 class="col s4"> Employee Overview </h2>
<hr>
<div class="container">
    <a href="/employees/new" class="waves-effect waves-light btn green right">&plus; Employee</a>
    <table class = "bordered centered responsive-table">
    <thead>
        <tr>
            <th> First Name</th>
            <th> Last Name</th>
            <th> Pay Rate</th>
            <th> Pay By </th>
            <th> Status </th>
        </tr>
    </thead>
        <% @employees.each do |emp| %>
            <tbody>
                <tr>
                    <td> <%= emp.first_name %> </td>
                    <td> <%= emp.last_name %> </td>
                    <td> $<%= emp.rate %> </td>
                    <td> <%= emp.paid_by %> </td>
                    <td> <% if emp.status == true %>
                            <%=emp.status = 'active' %>
                            <%else%> 
                        <%end%></td>
                    <td>
                        <a class='dropdown-button btn' href='#' data-activates='dropdown1'>Options</a>
                        <ul id='dropdown1' class='dropdown-content'>
                            <li><%=link_to 'Delete', emp, method: :delete, data: {confirm: "WARNING! Employees should be archived with status-inactive, deleting an employee will erase all records of the employee"} %></li>
                            <li><%=link_to 'Edit', edit_employee_path(emp) %></li>
    <li class="divider"></li>
    
                        </ul>
                    </td>
                </tr>
            </tbody>
        <% end %>
</table>
</div>
</div>