<h2> Employees </h2>
<hr>
<a href="/employees/new" class="btn-floating btn waves-effect waves-light green right">
    <i class="material-icons">&plus;</i>
</a>

<table class = "highlight centered responsive-table">
    <thead>
        <tr>
            <th> First Name</th>
            <th> Last Name</th>
            <th> Pay Rate</th>
            <th> Pay By </th>
            <th> Status </th>
        </tr>
    </thead>
        <% @employees.each do |emp| %>
            <tbody>
                <tr>
                    <td> <%= emp.first_name %> </td>
                    <td> <%= emp.last_name %> </td>
                    <td> $<%= emp.rate %> </td>
                    <td> <%= emp.paid_by %> </td>
                    <td> <%=emp.status %> </td>
                    <td class="waves-effect waves-light btn floating"><%=link_to 'Delete Employee', emp, method: :delete, data: {confirm: "WARNING! Employees should be archived with status-inactive, deleting an employee will erase all records of the employee"} %></td>
                    <td></td>
                    <td class="waves-effect waves-light btn floating yellow"><%=link_to 'Edit Employee', edit_employee_path(emp) %></td>
                    
                </tr>
            </tbody>
        <% end %>
</table>