<div class="container-fluid">
  <div class="row">
    <div class="col s6">
      <div class="col s12">
        <h2> Employee Overview </h2>
      </div>
    </div>
    <div class="col s6 search-padding">
        <nav>
          <div class="nav-wrapper">
            <form>
              <div class="input-field">
                  <input id="search" type="search" name="search" required class="cyan accent-3 opals">
                  <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                  <i class="material-icons">close</i>
              </div>
            </form>
          </div>
        </nav>
    </div>
  </div>
</div>
<hr width=85%>
<div class="container">
    <a href="/employees/new" class="waves-effect waves-light btn right">&plus; Employee</a>
    <table class = "highlight bordered centered responsive-table">
    <thead>
        <tr>
            <th> First Name</th>
            <th> Last Name</th>
            <th> Pay Rate</th>
            <th> Pay By </th>
            <th> Status </th>
        </tr>
    </thead>
        <% @employees.each do |emp| %>
            <tbody>
                <tr>
                    <td> <%= emp.first_name.capitalize %> </td>
                    <td> <%= emp.last_name.capitalize %> </td>
                    <td> $<%= emp.rate %> </td>
                    <td> <%= emp.paid_by %> </td>
                    <td> <% if emp.status == true %>
                            <%=emp.status = 'active' %>
                            <%else%> 
                            <%=emp.status = 'inactive' %>
                        <%end%></td>
                    <td class="imagination"><%=link_to edit_employee_path(emp), :class=>"waves-effect waves-light btn-flat btn-small" do%>
                        <i class="material-icons">mode_edit</i>
                    <%end%>
                    </td>
                    <td>
                      <a class="btn-flat modal-trigger imagination" href="#warning">
                        <i class="material-icons">delete_forever</i>
                      </a>
                    </td>
                </tr>
            </tbody>
        <% end %>
    </table>
</div> 
<div id="warning" class="modal">
  <div class="modal-content">
    <h4>Warning</h4>
    <p>Employees should not be deleted, instead archive employees by changing their status to inactive. </p>
  </div>
  <div class="modal-footer">
    <a href="/employees" class="modal-action modal-close waves-effect waves-green btn-flat"></a>
  </div>
</div>
