<div class="container-fluid">
  <div class="row">
    <div class="col s6 login-border-right">
      <div class="col s12">
        <h1 class="margin">Sign Up</h1>
        <%= form_for @user do |f| %>
          <% if @user.errors.any? %>
            <div class="error_messages">
              <h4><strong>Form is invalid<strong></h4>
              <ul>
                <% for message in @user.errors.messages %>
                  <li class="error-messages"><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <div class="input-field">
            <%= f.label :first_name %>
            <%= f.text_field :first_name %>
          </div>
          <div class="input-field">
            <%= f.label :last_name %>
            <%= f.text_field :last_name %>
          </div>
          <div class="input-field">
            <%= f.label :email %>
            <%= f.text_field :email %>
          </div>
          <div class="input-field">
            <%= f.label :password %>
            <%= f.password_field :password %>
          </div>
          <div class="input-field">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation %>
          </div>
          <div>
            <%= f.submit link_to "Sign Up!", employees_path  :class=> "btn cyan accent-3" %>
          </div>
        <% end %>
      </div>
    </div>
  <div class="col s6">
    <div class="img-container">
      <img class="welcome-image" src="http://i.imgur.com/lY0DMSb.png" alt="#">
    </div>
  </div>
</div>