

<h2 class="col s4 center-align"> Payroll History </h2>
<hr width=85%>
<div class="container">
  <table class = "centered highlight responsive-table">
    <thead>
      <tr>
          <th> Period end date </th>
          <th> Pay Date </th>
          <th> Checks Cut </th>
          <th> Check Totals </th>
          <th> Gross Earnings </th>
      </tr>
    </thead>
      <% @payrolls.each do |info| %>
        <tbody>
            <tr>
                <td><%=link_to payroll_path(info) do%>
                      <%=content_tag :span, info.end_date.strftime('%m-%d-%y'), :class=>"btn-flat hover"%>
                    <%end%></td>
                <td><%=@pay_date.strftime('%m-%d-%y') %></td>
                <td><%=check_count(info)%></td>
                <td><%=check_adder(info)%></td>
                <td><%=gross_check(info)%></td>
            </tr>
        </tbody>
      <% end %>
        <%=link_to "Start Payroll", new_payroll_path, :class=>"waves-effect waves-light btn right" %>

    </table>
</div>
