<h2 class="col s4 margin">Checks for period <%=@payroll.end_date.strftime("%m.%d.%y") %> </h2>
<hr width=85%>
<div class="container">
  <a href="/payrolls" class="waves-effect waves-light btn right">Back to Payroll</a>
  <table class = "bordered centered responsive-table">
    <thead>
        <tr>
            <th></th>
            <th> Check Number</th>
            <th> Employee Name</th>
            <th> Gross Pay</th>
            <th> Net Check Amount</th>
            <th> Fed Taxes Due</th>
            <th> State Taxes Due</th>
        </tr>
    </thead>
        <tbody>
          <% @payroll.payperiods.each do |info| %>
          <tr>
            <% if info.check %>
              <td> <%=link_to "View", payperiod_path(info.id), :class=>"btn" %></td>
              <td> <%= info.check.id%></td>
              <td> <%= info.check.check_name %> </td>
              <td> $<%= info.check.gross_total %> </td>
              <td> $<%= info.check.check_total %> </td>
              <td> $<%= info.check.fed_taxes %> </td>
              <td> $<%= info.check.state_taxes %> </td>
            <% else %>
              <td colspan="2"></td>
              <td><%= "#{info.employee.first_name} #{info.employee.last_name}" %></td>
              <td colspan="4">No Hours Reported</td>
            <% end %>
          </tr>
        <% end %>
        </tbody>
  </table>
</div>