<h4 class="flow-text margin">Always stay on track</h4>
<div class="container">
    <div class="row">
        <%= form_for @todo do |f| %>
            <div class="input-field col s6 offset-s3">
                <%= f.label :list,:class=>"active" %>
                <%= f.text_field :list %> 
            </div>
            <div>
                <%=button_tag "+", :class=>"waves-effect waves-light btn col s1", :type=>"Submit" %>
            </div>
        <%end%>
    </div>
    <p class="flow-text bold"><strong>Todo List</strong></p>
</div>
<hr width=85% color="black">
<div class="container"> 
    <table class = "bordered centered highlight responsive-table">   
        <% @todos.each do |t| %>
            <tbody>
                <tr>
                    <td><%=t.created_at.strftime('%m.%d.%Y') %></td>
                    <td class="truncate"> <%= t.list %> </td> 
                    <td> <%=link_to todo_path(t), method: :delete, data:{confirm:"are you sure?"} do %>
                            <i class="material-icons black-icon">delete_forever</i>
                        <%end%>
                    </td>
                </tr>
            </tbody>
        <% end %>
    </table>
</div>


