<!DOCTYPE html>
<html>
  <head>
    <title>JayPay</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="cyan lighten-5">
  <% if current_user %>
        <nav>
    <div class="nav-wrapper blue-grey accent-2">
    <a href ="http://i.imgur.com/lY0DMSbt.png" class="brand-logo"></a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><%=link_to "To-Do", todos_path %></li>
        <li><%=link_to "Payroll", payrolls_path%> </li>
        <li><%=link_to "Forms" %> </li>
        <li><%= link_to "Employees", employees_path %></li>
      </ul>
      <ul id="nav-mobile" class="right">
        <li> Welcome, <%= current_user.first_name.capitalize %>
        &nbsp;&nbsp;|&nbsp;&nbsp;</li>
        <li class="right"> <%= link_to 'Log Out', session_path('dummy'), method: :delete %></li>   
      </ul>
    </div>
    </nav>
  <% else %>
  <nav>
    <div class="nav-wrapper blue-grey accent-2">
    <a href ="http://i.imgur.com/lY0DMSbt.png" class="brand-logo right"></a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li> <%= link_to 'Log In', login_path %> </li>  
        <li> <%= link_to 'Sign Up', new_user_path %> </li>
      </ul>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li> <a href = "tel:562-325-4294"class="right phone">562-325-4294</a></li>
      </ul>
    </div>
  </nav>
  <% end %>
    <%= yield %>

    <!-- JS Libraries -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.0/js/materialize.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </body>
</html>
